body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

h2, h3 {
    color: #333;
}

.game-management, .game-list {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

input, select, textarea, button {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border: none;
    margin: 10px 5px;
}

button:hover {
    background-color: #218838;
}

.game-list {
    overflow-x: auto;
}

.game-list table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
}

td img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s;
    display: inline-block; /* Để sử dụng margin */
    margin: 10px 5px; /* Thêm khoảng cách 5px bên trái và phải */
  }
  
  a:hover {
    text-decoration: underline;
    color: #0056b3;
  }

.back-home-btn {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.back-home-btn:hover {
    background-color: #0056b3;
}
